/* global styling */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e6fa;
    display: flex;
    height: 100vh;
    width: 100vw;
}

a {
    color: #fff;
}

:root {
    --dark-purple: #483d8b;
    --light-purple: #7b68ee;
}

/* image */
.image {
    align-items: center;
    background-image: url(./assets/image.jpg);
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%; 
}


.sidebar {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    gap: 1rem;
    height: 17%;
    justify-content: center;
    margin-top: 10rem;
    width: 100%;
}

.sidebar > a {
    text-decoration: none;
}

img {
    height: 90%;
}

/* main */
main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

/* description */
.description {
    color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    width: 80%;
}

span {
    font-style: italic;
}

/* form */
form {
    background-color: #fff;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
}

fieldset {
    border: none;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
}

legend {
    color: #6a5acd;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

label {
    color: var(--dark-purple);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

input {
    border: 0.1rem solid var(--light-purple);
    border-radius: 0.4rem;
    color: var(--dark-purple);
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0.3rem;
    width: 17rem;
}

input:focus {
    border: 0.1rem solid var(--dark-purple) !important;
    outline: none;
}

.name, .contact_info, .passwords {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
}

.first_name, .last_name, .email, .phone, .password, .password_confirm {
    display: flex;
    flex-direction: column;
}

#validation {
    color: #FF0000;
    display: none;
    font-size: 0.8rem;
    font-weight: bold;
}

/* sign-in */
.sign-in {
    color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: bold;
    gap: 1rem;
    height: 10%;
    margin-left: 3rem;
    margin-top: 1rem;
}

.sign-in > p > a {
    color: var(--light-purple);
    font-weight: bold;
}

button {
    border: none;
    border-radius: 0.5rem;  
    background-color: var(--light-purple);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    height: 100%;
    width: 25%;
}